*{margin: 0; padding: 0;}
body {background-color: #ddd;}
#main{padding: 10px; display: grid; grid-template-columns: 200px auto; grid-template-rows: 90px auto; 
        grid-gap: 20px; height: 95vh;}

#main-header{grid-column: 1 / span 2; grid: 1; background-color: #000;box-shadow: 0 4px 8px rgba(0,0,0), 0 6px 20px 0 rgba(0,0,0);
                display: grid; grid-template-columns: 100% 0%; padding: 5px;}        
    #headline{display:inline-block; width: 100%; background-color: #d71e28;color: #fff; font-size: 16pt; padding-top: 25px; font-weight: bold; text-align: center;}         
    #logo-container{float: right; background-color: #d71e28;}

#left-outer{background-color: #fff; box-shadow: 0 4px 8px rgba(0,0,0), 0 6px 20px 0 rgba(0,0,0); 
            padding: 5px; height: 100%; grid-column: 1; grid-row: 2;}
#left-container{background-color: #000; height: 99%; padding: 5px;}

#right-outer{background-color: #fff; box-shadow: 0 4px 8px rgba(0,0,0), 0 6px 20px 0 rgba(0,0,0); 
            padding: 5px; height: 100%; grid-column: 2; grid-row: 2;}
#right-container{height: 99%; padding: 5px; }


@media screen and (max-device-width: 480px) and (orientation: portrait), (max-width: 1024px){
    *{font-size: 0.9em;}

    #main{display: flex; flex-direction: column;}
        #main-header{display: none;}
        #left-outer{order: 1;}
            #left-container{margin-bottom: 5px;}
            #beta-info, #beta-list{font-size: 8pt !important;}

        #right-outer{order: 2; height: 100%; min-height: 1100px !important;}
            #right-container {display: flex !important; flex-direction: column;}
                #subreddit-txt {order: 1; height: 60px !important; margin-bottom: 5px;}
                    #title{font-size: 8pt !important;}   
                    #reddit-flow marquee{font-size: 8pt !important;}  
                #chart-container {order: 2; max-height: 420px !important; margin-bottom: 5px;}
                    #line-cht{padding: 0 !important;}
                #right-margin{ order: 3; max-height: 420px !important; margin-bottom: 5px;}
                    #sentiments{margin-top: 25px !important; min-height: 300px;}
                    #betas{font-size: 8pt !important;}
}   


