
#inner-container {
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: 75px auto;
    grid-template-areas: "Sentiment Sentiment" "Chart1 RightMargin" ;
    grid-gap: 10px;
    height: 100%;
}
#right-margin{grid-area: RightMargin; height: 100%; background-color: #ddd; display: grid; grid-template-rows: 40% 60%;}
#chart-container {grid-area: Chart1; height: 100%; box-shadow: 0 4px 8px rgba(0,0,0), 0 6px 20px 0 rgba(0,0,0);}
#subreddit-txt {grid-area: Sentiment;background-color: #ddd; color: #d71e28; height: 100%;}

#recommendation{background-color: white; padding: 5px; box-shadow: 0 4px 8px rgba(0,0,0), 0 6px 20px 0 rgba(0,0,0);}
#inner-recommendation{background-color: #000; height: 100%; color:white;}
#description{background-color: white;padding: 5px; box-shadow: 0 4px 8px rgba(0,0,0), 0 6px 20px 0 rgba(0,0,0);}
#inner-description{background-color: #000;height: 100%; color:white;}

#stocksearch{width: 100%; margin-bottom: 25px;}
#stocksearchlabel, #daterangelabel{color: white; margin-bottom: 25px;}
#stocks{width: 100%;}

#daterange{ margin-bottom: 5px; width: 100%;}
#line-cht{padding: 25px;}
#bar-cht{padding: 15px;}
.datepicker{width: 100%; padding: 5px 0px;}

#main-search{
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 5px 0px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

#main-search:hover{
    background-color: #d71e28;
    color: black;
}

#loader{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: blue;
    border-right: green;
    border-bottom: red;
    border-left: black;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: 2s linear infinite;
}

#reddit-ticker{
    box-shadow: 0 4px 8px rgba(0,0,0), 0 6px 20px 0 rgba(0,0,0);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#reddit-flow{
    width: 76%;
    background: #4074ec;
    padding: 0 2%;
}

#reddit-flow marquee{
    color: white;
    font-size: 25px;
    padding-top: 25px;
    height: 100%;
}

#title{
    width: 20%;
    text-align: center;
    background: #034FFF;
    position: relative;
}

#title h5{
    font-size: 18px;
    color: white;
    height: 100%;
    padding-top: 25px;
}


