<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Chart.js Example</title>
    <!-- import plugin script -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src='static/Chart.min.js'></script>
  </head>
  <body>
    <h1>Stock Prices</h1>
    <!-- bar chart canvas element -->
    <canvas id="myChart" width="900" height="400"></canvas>
    <p id="pointSelected">Select Stock</p>
    
    <div class = "chartBox">
      <canvas id = "myChart"></canvas>
    </div>
    <div class = "selectBox">
      <select id = "stockselect">
        <option value = "AAPL">Apple ($AAPL)</option>
        <option value = "AMZN">Amazon ($AMZN)</option>
        <option value = "GME">GameStop Corp. ($GME)</option>
        <option value = "TSLA">Tesla ($TSLA)</option>
        <option value = "AMC"> AMC Entertainment Holdings ($AMC)</option>
        <option value = "META"> Meta ($META)</option>
        <option value = "MSFT"> Microsoft ($MSFT)</option>
        <option value = "NFLX"> Netflix ($NFLX)</option>
        <option value = "JPM"> JPMorgan Chase & Co($JPM)</option>
        <option value = "GOOG"> Alphabet Inc ($GOOG)</option>
        <option value = "DIS"> Walt Disney Co($DIS)</option>
        <option value = "SNAP"> Snap Inc ($SNAP)</option>
        <option value = "NOK"> Nokia ($NOK)</option>
        <option value = "BB"> BlackBerry Ltd($BB)</option>
        <option value = "AAP"> Advance Auto Parts ($AAP)</option>
        <option value = "BTC-USD"> Bitcoin USD ($BTC-USD)</option>
        <option value = "PFE"> Pfizer ($PFE)</option>
        <option value = "HD"> Home Depot ($HD)</option>
        <option value = "KO"> Coca-Cola Co ($KO)</option>
        <option value = "MMM"> 3M Co ($MMM)</option>
        <option value = "PLTR"> Palantir Technologies ($PLTR)</option>
        <option value = "V"> Visa ($V)</option>
        <option value = "PG"> Procter & Gamble ($PG)</option>
        <option value = "JNJ"> Johnson&Johnson ($JNJ)</option>
        <option value = "SHOP"> Shopify ($SHOP)</option>
        <option value = "BABA"> Alibaba Group Holding ($BABA)</option>
        <option value = "WISH"> ContextLogic ($WISH)</option>
        <option value = "DB"> ($DB)</option>
        <option value = "OPEN"> Opendoor Technologies ($OPEN)</option>
        
      </select>
    </div>

    <script>
      // Global parameters:
      // do not resize the chart canvas when its container does (keep at 600x400px)
      Chart.defaults.global.responsive = false;

      // Define the chart data
      // Labels are the dates
      var chartData = {
        labels : [{% for item in labels%}
                    '{{item[0]}}',
                  {% endfor %}],
        datasets : []
      }

      // get chart canvas
      var holder = document.getElementById("myChart");
      var ctx = document.getElementById("myChart").getContext("2d");

      // create a callback function for updating the caption
      var original = Chart.defaults.global.legend.onClick;
      Chart.defaults.global.legend.onClick = function(e, legendItem) {
        update_caption(legendItem);
        original.call(this, e, legendItem);
      };

      // create the chart using the chart canvas
      var myChart = new Chart(ctx, {
        type: 'line',
        data: chartData,
        options: {
          tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
              label: function(tooltipItems, data) {
                       return tooltipItems.yLabel;
                     }
            }
          },
        }
      });

      // get the text element below the chart
      var pointSelected = document.getElementById("pointSelected");

      // create a callback function for updating the selected index on the chart
      holder.onclick = function(evt){
        var activePoint = myChart.getElementAtEvent(evt);
        console.log(activePoint);
        console.log('x:' + activePoint[0]._view.x);
        console.log('maxWidth: ' + activePoint[0]._xScale.maxWidth);
        console.log('y: ' + activePoint[0]._view.y);
        console.log('index: ' + activePoint[0]._index);
        pointSelected.innerHTML = 'Point selected: ' + activePoint[0]._index;
      };

      // Create an array of all the stocks closing prices
      const stocks = [{% for d in data %}
            {label: '{{d}}',
            fill: true,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data : [{% for item in data[d] %}
                      {{item[0]}},
                    {% endfor %}],
            spanGaps: false},
        {% endfor %}]


      // Get the selected value from the dropdown
      const stockselect = document.getElementById('stockselect')
      stockselect.addEventListener('change', select_stock)

      // Get the label for each dataset in the stocks array. This was used to index the stocks data based on the user's selection
      const labs = [{% for d in data %}'{{d}}'.trim(), {%endfor%}]
      
      // Returns stock data based on the user selection in the dropdown
      function select_stock(){
        idx = labs.indexOf(stockselect.value)
        myChart.data.datasets.pop() // Remove all the data before adding new data
        myChart.data.datasets.push(stocks[idx])
        myChart.update()
      }

    </script>

  </body>
</html>
