{% extends "layout.html" %}

{% block header%}{% endblock %}

{% block leftside %}
    <div id="stocksearch">
        <label id="stocksearchlabel">Choose a Ticker from the dropdown:</label>
        <select id="stocks" size="10">
            {% for stock in stocklist%}
                <option id="{{ stock }}">{{ stock }}</option>
            {% endfor %}
        </select> 
    </div>   
    <div id="daterange">
        <label id="daterangelabel">Choose a Date Range:</label>
        <input class="datepicker" type="text" id="from_date_picker" placeholder="From Date">
        <input class="datepicker" type="text" id="to_date_picker" placeholder="To Date">
    </div>
    <div id="submit-search">
        <button id="main-search">Search Commentary Dates</button>
    </div>
{% endblock %}

{% block rightside %}
    <div id="inner-container">
        <div id="chart-container">
            <canvas id="line-cht"></canvas>
        </div>

        <div id="right-margin">
            <div id="recommendation">
                <div id="inner-recommendation">
                    Place recommendations here
                </div>
            </div>
            <div id="description">
                <div id="inner-description">
                    Project write up here
                </div>
            </div>
        </div>
       
        <div id="subreddit-txt">
            <div id="reddit-ticker">
                <div id="title"><h5>User Sentiment:</h5></div>
                <div id="reddit-flow">
                    <marquee direction="left" behavior="scroll" loop="-1">
                    <!-- insert our reddit commentary here -->
                    </marquee>
                </div>
            </div>
        </div>
    </div>
    
    <div id="spinner" style="display:none;">
        <div id="loader"></div>
    </div>
{% endblock %}