{% extends "layout.html" %}

{% block header%}{% endblock %}

{% block leftside %}
    <div id="daterange">
        <label id="daterangelabel">Choose a Date Range:</label>
        <input class="datepicker" type="text" id="from_date_picker" placeholder="From Date">
        <input class="datepicker" type="text" id="to_date_picker" placeholder="To Date">
    </div>
    <div id="stocksearch">
        <label id="stocksearchlabel">Choose a Ticker from the dropdown:</label>
        <select id="stocks" size="10">
            {% for stock in stocklist%}
                <option id="{{ stock }}">{{ stock }}</option>
            {% endfor %}
        </select> 
    </div>   
    <div id="submit-search">
        <button id="main-search">Stock Recommentaion</button>
    </div>
    <div id="beta-info">
        Market Beta β is a measure of how the stock selected moves relative (volatility) to the overall market. In this case we are showing in the selected date range the covariance of returns relative to the Dow Jones Industrial Average and the S&P 500 indices.
    </div>
    <ul id="beta-list">
        <li>Beta = 1 = Market Volatility</li>
        <li>Beta > 1 = Higher Volatility </li>
        <li>Beta < 1 = Lower Volatility </li>
    </ul>
{% endblock %}

{% block rightside %}
    <div id="chart-container">
        <canvas id="line-cht"  style="display: none; max-height: 70vh;"></canvas>
    </div>

    <div id="right-margin">
        <div id="recommendation">
            <div id="inner-recommendation">
                <div id="betas">
                    <div id="snp-beta"></div>
                    <div id="dji-beta"></div>
                </div>
                <table id="recommend-tbl" style="display: none;"></table>
            </div>
        </div>
        <div id="sentiments">
            <div id="inner-sentiments">
                <canvas id="bar-cht" style="display: none;"></canvas>
            </div>
        </div>
    </div>
    
    <div id="subreddit-txt">
        <div id="reddit-ticker">
            <div id="title">User Sentiment:</div>
            <div id="reddit-flow">
                <marquee direction="left" behavior="scroll" loop="-1">
                <!-- insert our reddit commentary here -->
                </marquee>
            </div>
        </div>
    </div>

    <div id="spinner" style="display:none;">
        <div id="loader"></div>
    </div>
{% endblock %}